body {
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.user {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #eee;
	display: inline-block;
	width: 200px;
	margin: 2px;
	padding: 2px;
	background-repeat: no-repeat;
	height: 58px;
}

.first {
	border-color: #eb0;
	border-width: 2px;
	background-color: #f8f080;
}

.second {
	border-color: #bbb;
	border-width: 2px;
	background-color: #ccc;
}

.third {
	border-color: #bf6001;
	border-width: 2px;
	background-color: #f8a080;
}

.stats {
	float: right;
	text-align: right;
}

.name, .reputation, .badges {
}

.badgegold {
	color: #eb0;
}

.badgesilver {
	color: #bbb;
}

.badgebronze {
	color: #bf6001;
}

#attribution {
	color: #CCC;
}
